.main_section-news {
    display: flex;
    flex-direction: column;
    background: $background_color;
    clip-path: polygon( 0 10%, 100% 0, 100% 100%, 0 100%);
}

.main_section-news_title {
    @include font(36, 42);
    margin: 64px vw(16, 320) 36px;
    text-align: center;
    color: #FFFFFF;
}

.main_section-news_button {
    background-color: $button_color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 vw(16, 320) 67px;
    height: 48px;
    @include second_font();
    @include font(16, 22);
    font-weight: 500;
    text-decoration: none;
    color: $main_color;
}

@media screen and (min-width: 768px) {
    .main_section-news {
        clip-path: polygon( 0 20%, 100% 0, 100% 100%, 0 100%);
    }
    .main_section-news_button {
        width: 400px;
        height: 48px;
        margin: 0 auto 67px;
    }
}

@media screen and (min-width: 1024px) {
    .main_section-news {
        clip-path: polygon( 0 30%, 100% 0, 100% 100%, 0 100%);
    }
    .main_section-news_title {
        @include font(48, 62);
        margin: vw(213, 1440) 0 36px;
    }
    .main_section-news_button {
        width: 345px;
        height: 56px;
        @include font(18, 24);
        margin: 0 auto vw(151, 1440);
        &:hover {
            color: #FFFFFF;
            background: $button_color_hover;
        }
    }
}