$main_color: #060A24;
$button_color: #00F3BB;
$button_color_hover: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$menu_color: #0000EC;
$background_color: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
@mixin main_font {
    font-family: 'IBM Plex Sans', sans-serif;
}

@mixin second_font {
    font-family: 'IBM Plex Mono', monospace;
}

@mixin font($size, $line) {
    @if unitless($size) {
        $size: $size * 1px;
    }
    @if unitless($line) {
        $line: $line * 1px;
    }
    font-size: $size;
    line-height: $line;
}

@function vw($pixeles, $view_width) {
    @return #{$pixeles/$view_width*100}vw;
}