@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.navigation-bar {
  background: url(../images/logo.svg) no-repeat 16px 10px;
  background-size: 24px 24px;
  position: relative;
  height: 44px;
}

.navigation-bar_checkbox-menu {
  position: absolute;
  margin: 0;
  left: 87.5vw;
  top: 13px;
  width: 25px;
  height: 20px;
  cursor: pointer;
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
  z-index: 2;
  opacity: 0;
}

.navigation-bar_menu-line {
  display: block;
  position: relative;
  left: 88.45vw;
  top: 16px;
  width: 18px;
  height: 2px;
  margin-bottom: 3px;
  background: #060A24;
  z-index: 1;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.navigation-bar_menu {
  position: absolute;
  top: 44px;
  width: 100vw;
  list-style: none;
  background-color: #0000EC;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 16px;
}

.navigation-bar_menu_item {
  display: block;
  position: relative;
  margin: 0px 0px 24px 16px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  line-height: 28px;
}

.navigation-bar_checkbox-menu:checked ~ .navigation-bar_menu {
  -webkit-transform: none;
          transform: none;
}

.navigation-bar_checkbox-menu:checked ~ .navigation-bar_menu-line:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation-bar_checkbox-menu:checked ~ .navigation-bar_menu-line:nth-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.navigation-bar_checkbox-menu:checked ~ .navigation-bar_menu-line:nth-child(4) {
  -webkit-transform: rotate(-45deg) translate(-3px, 1px);
          transform: rotate(-45deg) translate(-3px, 1px);
}

@media screen and (min-width: 1024px) {
  .navigation-bar {
    background-position: 100px 22px;
    background-size: 36px 36px;
    height: 80px;
  }
  .navigation-bar_checkbox-menu,
  .navigation-bar_menu-line {
    display: none;
  }
  .navigation-bar_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    top: inherit;
    right: 100px;
    background-color: inherit;
    -webkit-transform: initial;
            transform: initial;
    padding-top: 0;
  }
  .navigation-bar_menu_item {
    margin: 26px 0px 26px 48px;
    color: #060A24;
  }
  .navigation-bar_menu_item:hover {
    color: #00F3BB;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    font-weight: 500;
  }
  .navigation-bar_menu_item:active {
    color: #060A248F;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
  }
}

.header_container {
  margin: 29px 16px;
}

.header_title {
  font-size: 36px;
  line-height: 42px;
}

.header_title-decoration {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.header_title-decoration::after {
  content: '\A';
  white-space: pre;
}

.header_subtitle {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  line-height: 22px;
  margin-top: 16px;
}

.header_subtitle-desktop {
  display: none;
}

.header_button {
  border: none;
  background-color: #00F3BB;
  display: inline-block;
  width: 100%;
  height: 48px;
  margin: 36px 0 24px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #060A24;
}

.header_button:focus {
  outline: 0;
}

@media screen and (min-width: 1024px) {
  .header_container {
    margin: 13.89vw 0 0 200px;
  }
  .header_title {
    font-size: 64px;
    line-height: 84px;
  }
  .header_title-decoration::after {
    content: initial;
  }
  .header_title-dot_decoration {
    color: #0000EC;
  }
  .header_subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    width: 43.6vw;
  }
  .header_subtitle-mobile {
    display: none;
  }
  .header_subtitle-desktop {
    display: initial;
  }
  .header_button {
    width: 226px;
    height: 56px;
    margin: 56px 0 5px;
    font-size: 18px;
    line-height: 24px;
  }
  .header_button:hover {
    color: #FFFFFF;
    background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  }
}

:root {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  color: #060A24;
}
/*# sourceMappingURL=styles.css.map */