@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  color: #060A24;
}

.navigation-bar {
  background: url(../images/logo.svg) no-repeat 5vw 3.125vw;
  background-size: 7.5vw 7.5vw;
  position: relative;
  height: 13.75vw;
}

.navigation-bar_checkbox-menu {
  position: absolute;
  margin: 0;
  left: 87.8125vw;
  top: 13px;
  width: 25px;
  height: 20px;
  cursor: pointer;
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
  z-index: 2;
  opacity: 0;
}

.navigation-bar_menu-line {
  display: block;
  position: relative;
  left: 88.4375vw;
  top: 16px;
  width: 18px;
  height: 2px;
  margin-bottom: 3px;
  background: #060A24;
  z-index: 1;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.navigation-bar_menu {
  position: absolute;
  top: 13.75vw;
  width: 100vw;
  list-style: none;
  background-color: #0000EC;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 16px;
}

.navigation-bar_menu_item {
  display: block;
  position: relative;
  margin: 0 0 24px 5vw;
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  line-height: 28px;
}

.navigation-bar_checkbox-menu:checked ~ .navigation-bar_menu {
  -webkit-transform: none;
          transform: none;
}

.navigation-bar_checkbox-menu:checked ~ .navigation-bar_menu-line:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation-bar_checkbox-menu:checked ~ .navigation-bar_menu-line:nth-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.navigation-bar_checkbox-menu:checked ~ .navigation-bar_menu-line:nth-child(4) {
  -webkit-transform: rotate(-45deg) translate(-3px, 1px);
          transform: rotate(-45deg) translate(-3px, 1px);
}

@media screen and (min-width: 1440px) {
  .navigation-bar {
    background-position: 6.94444vw 1.52778vw;
    background-size: 2.5vw 2.5vw;
    height: 5.55556vw;
  }
  .navigation-bar_checkbox-menu,
  .navigation-bar_menu-line {
    display: none;
  }
  .navigation-bar_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    top: inherit;
    right: 6.94444vw;
    background-color: inherit;
    -webkit-transform: initial;
            transform: initial;
    padding-top: 0;
  }
  .navigation-bar_menu_item {
    margin: 1.80556vw 0 1.80556vw 3.33333vw;
    color: #060A24;
  }
  .navigation-bar_menu_item:hover {
    color: #00F3BB;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    font-weight: 500;
  }
  .navigation-bar_menu_item:active {
    color: #060A248F;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
  }
}

.header_container {
  margin: 29px 5vw 24px;
}

.header_title {
  font-size: 36px;
  line-height: 42px;
}

.header_title-decoration {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.header_title-decoration::after {
  content: '\A';
  white-space: pre;
}

.header_subtitle {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  line-height: 22px;
  margin: 16px 0 36px;
}

.header_subtitle-desktop {
  display: none;
}

.header_button {
  border: none;
  background-color: #00F3BB;
  display: inline-block;
  width: 100%;
  height: 48px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #060A24;
}

.header_button:focus {
  outline: 0;
}

@media screen and (min-width: 1440px) {
  .header_container {
    margin: 8.33333vw 0 0.34722vw 13.88889vw;
  }
  .header_title {
    font-size: 64px;
    line-height: 84px;
  }
  .header_title-decoration::after {
    content: initial;
  }
  .header_title-dot_decoration {
    color: #0000EC;
  }
  .header_subtitle {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 3.88889vw;
    width: 43.61111vw;
  }
  .header_subtitle-mobile {
    display: none;
  }
  .header_subtitle-desktop {
    display: initial;
  }
  .header_button {
    width: 15.69444vw;
    height: 3.88889vw;
    font-size: 18px;
    line-height: 24px;
  }
  .header_button:hover {
    color: #FFFFFF;
    background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  }
}

.main_section-episodes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_section-episodes-title {
  font-size: 36px;
  line-height: 42px;
  margin: 64 0 21 5vw;
}

.main_section-episodes-iframe_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 3.4375vw 41.40625vw;
}

.main_section-episodes-iframe_container div {
  margin-bottom: 11px;
}

@media screen and (min-width: 1440px) {
  .main_section-episodes-title {
    font-size: 48px;
    line-height: 62px;
    margin: 12.91667vw 0 1.80556vw 13.88889vw;
  }
  .main_section-episodes-iframe_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    margin: 0 6.94444vw 16.15278vw;
    height: 37.22222vw;
  }
  .main_section-episodes-iframe_container div {
    margin-bottom: 0;
    width: 40.55556vw;
    height: 16.11111vw;
  }
}
/*# sourceMappingURL=styles.css.map */